.mainbox{
  margin: 10px 30px ;
}
.box{
  border: 1px solid black;
  margin: 40px 0;
  max-width: 500px;
  line-height: 20px;
}
.perenos{
  display: block;
  margin: 10px 0px;
  color: black ;
}
.text2{
  margin: 40px 0px;
}
.box2{
}
.text3{
  display: inline;
}
.text4{
  padding-left: 50px;
  display: inline;
}
.pad{
  padding: 0px 50px;
}
.block2{
  margin: 20px 0px;
}
.block{
  margin: 30px 0px;
  display: block;
}