.body{
  background-color:rgb(232, 232,232) ;
  width: 1100px;
  margin: 100px auto 0;
  padding-top: 75px;
  padding-bottom: 50px;
}
.firstdiv{
  text-align: center;
  padding: 20px 20% 50px ;
}
.maintext{
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 2px;
  color: rgba(39.002250000000004, 61.1286, 69.6252, 1);
}
.secondtext{
  font-size: 36px;
  color: rgba(39.002250000000004, 61.1286, 69.6252, 1);
}
.img{
  margin: 0 auto ;
  width: 821px;
  height: 541px;
  background-image: url(../img/2025-08-13_22-36-45.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100%;
  border: 10px solid white ;
}
.text{
  width: 736px;
  height: 257px;
  opacity: 0.80;
  margin: 97px auto 0;
}
.text1{
  font-family: "TimesNewRomanPSMT";
  font-size: 24px;
  line-height: 40px;
  text-align: left;
  color: rgba(39.002250000000004, 61.1286, 69.6252, 1);
  padding-bottom: 40px;
}
.text2{
  font-family: "TimesNewRomanPSMT";
  font-size: 24px;
  line-height: 40px;
  text-align: left;
  color: rgba(39.002250000000004, 61.1286, 69.6252, 1);
}
.custom-list{
  margin: 50px 0px 0px 190px;
}

.galocka{
  text-align: left;
  font-size: 20px;
  line-height: 36px;
  text-align: left;
  color: rgba(39.002250000000004, 61.00365, 70.00004999999999, 1);
  background-image: url(../img/check\ icon.png);
  background-repeat: no-repeat;
  background-position: left;
  padding: 0 0 0 40px;
}
.list2{
  font-style: italic;
  color: rgba(127.99725000000001, 183.00075, 179.00235, 1);
}
.list3{
  font-weight: bold;
}
.list4{
text-decoration: line-through ;
opacity: 0.3;
}

.button1{
  background-image: url(../img/Shape\ 2.png);
  background-repeat: no-repeat;
  background-position: 85%, 50%;
  margin-left: 220px;
  margin-top: 40px;
  padding-left: 30px;
  width: 199px;
  height: 44px;
  background-color: rgb(128, 183, 179, 0.54);
  border-radius: 20px;
  font-size: 14px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}
.zeeb{
  background-image: url(../img/check\ icon.png);
  background-repeat: no-repeat;
  background-position: left;
}

.pas{
  font-size: 24px;
  margin: 50px 50px;
}
.lip{
  background-image: url(../img/check\ icon.png);
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 33px; 
}