body{
  background-color: rgb(223, 223, 223);
}

.box1 li,.box2 li{
margin: 10px 0px;
}
.box1 {
  width: 500px;
  margin: 50px auto;
  text-align: left;
}
.checklist1 li {
  padding-left: 30px;
  background-image: url(../img/icons/li.svg);
  background-repeat: no-repeat;
  background-position: left;
}
.checklist1 li:nth-child(1){
  text-decoration: line-through; 
}
.checklist1 li:nth-child(2){
   font-weight: 700;
}
.checklist1 li:nth-child(3){
  font-style: italic; 
}
.checklist1 li:nth-child(4){
  text-transform: uppercase ; 
}

.box2 {
  width: 500px;
  margin: 50px auto;
  text-align: left;
}

.checklist2 li {
  padding-left: 30px;
  background-image: url(../img/icons/li.svg);
  background-repeat: no-repeat;
  background-position: left;
}

.checklist2 li:nth-child(2):hover{
  color: rgb(0, 0, 0);
  background-color: brown;
}
.checklist2 li:nth-child(1){
  text-decoration: line-through; 
}
.checklist2 li:nth-child(2){
   font-weight: 700;
}
.checklist2 li:nth-child(3){
  font-style: italic; 
}
.checklist2 li:nth-child(4){
  text-transform: uppercase ; 
}
.boxbutton {
 
  padding-left: 30px;
  width: 500px;
  margin: 20px auto;
}
.button{
  text-transform: uppercase ;
  color: white;
  width: 130px;
  height: 35px;
  background-color:aquamarine;
  border-radius: 20px;
}

.button:hover{
  background-color:green ;
}
.button:active{
 background-color:rgb(0, 58, 0) ;
}
form{
  padding-left: 30px;
  width: 500px;
  margin: 20px auto;
}
form input{
  outline:invert;
  height: 30px;
  border-radius: 20px;
}
form input:focus{
  box-shadow: 0px 0px 20px rgb(72, 138, 182);
}