body{ 
  background-image: url('../img/30354-rabochij_stol-kancelyarskie_tovary-gadzhet-upravlenie-tehnologii-1920x1080.jpg');
  background-color:#3216b180;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;  
  font-family: 'Poppins', sans-serif;
}

.mainbody{ 
  background-color: #3216b180;
  background-size: cover;
  min-height: 100vh;
  max-width: 100%;
}

.body-form{
  padding-top: 100px;
  width: 1100px;
  height: auto;
  margin: 0px auto ;
}
.title{
  text-align: center;
  font-size: 1rem;
  color: white;
  padding-bottom: 50px;
}
.main-title{
  font-size: 44px ;
  margin-bottom: 20px;
}
.main-p{
  font-size: 28px;
  font-style: italic;
}
.form{
  width: 100%;
  border: 2px solid black;
  background-color:rgba(28, 14, 41, 0.8);
  border-radius: 5px;
}
.el-from{
  margin: 50px 50px 30px;
}
.form-title{
  display: inline-block;
  color: rgb(201, 201, 201);
  font-size: 28px;
}
.stolb{
  margin-top: 20px;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  font-size: 23px;
  padding-left: 20px
}
.select-color{
  color: gray;
}
.opt{
  font-size: 20px;
  color: gray;
}
.input-box{
  font-size: 24px;
  color: aliceblue;
  margin: 15px 0px 15px 0px;
}
.input-radio,
.input-checkbox {
  width: 27px;
  height: 27px;
}
.input-checkbox{
  border-radius: 10px;
}
.input-text{
  margin-top: 20px;
}
.size-text{
  width: 100%;
  height: 200px;
  border-radius: 5px;
  font-size: 23px;
 padding: 15px 0px 0px 15px;
}
.form-butoton{
  background-color: rgb(32, 184, 32);
  text-align: center;
  color: white; 
  height: 60px;
  border-radius: 2px;
}

