body{
  background-color: rgba(0, 1, 37, 0.87);
  text-align: center;
  display: flex;
  justify-content: center;
}
p{
  font-size: 30px;
  color: white;
}
h1{
  color: white;
}
.main-box{
  margin-top: 200px;
}
.conw-box{
  border-radius: 15px;
  margin-top: 50px;
  background-color:   rgba(0, 25, 37, 0.555);
  width: 400px;
  border: solid 2px white
}
.input-box{
  margin: 20px 0;
}
.input-val{
  font-size: 20px;
  border: 0;
  border-radius: 20px;
  padding-left: 20px;
  height: 35px;
}
.input-val:active{
  border: 0;
}

.btn-box{
  margin: 20px 0;
}
.cnw-btn{
  font-size: 20px;
  border: 0;
  border-radius: 20px;
  height: 35px;
  width: 270px;
  background-color: green;
}

.result-value{
  display: none;
  border-radius: 15px;
  padding: 30px 0;
  background-color:   rgba(0, 25, 37, 0.555);
  width: 400px;
  border: solid 2px white;
  font-size: 25px;
}

.resultErr{
background-color: rgba(255, 0, 0, 0.418);
}