body{
  font-family: "Segoe UI", sans-serif;
  background: #020024;
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
  display: flex;
  justify-content: center;  
  align-items: center;     
  height: 100vh;           
 
}
h2{
  color: rgb(82, 82, 82);
  text-align: center;
}
.box{ 
  display: flex;
  justify-content: top; 
  align-items: center;
  flex-direction:column;            
  background-color: rgb(255, 255, 255);
  width: 450px;
  min-width: 350px;
  min-height: 250px;
  border-radius: 50px;
}

.input-main-box{
  margin-top: 20px;
  width: 300px;
}
.input-box-email,.input-box-pass,.token-box{ 
 margin: 30px 0;
}
.btn-box{
  margin: 0 auto 25px;
}
.input-email,.input-pass,.input-token{
text-indent: 30px;
font-size: 16px;
width: 85%;
height: 30px;
border-radius: 20px;
border: 0;
}
.submit-btn,.use-token{
font-weight: 500;
letter-spacing:1px;
background-color: green;
width: 150px;
text-align: center  ;
font-size: 16px;
height: 30px;
border-radius: 20px;
border: 0;
}
.show-pass{
  border: 0;
  background-color: white;
  padding-left: 10px;
 font-size: 17px;
}
.submit-btn{
  background-color: gray;
}
.erorbox{
  width: 300px;
  height: 40px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 18px;
  color: red;
}
.text-Error {
  display: block;
  margin-block-start: -0.5em;
  margin-top: 10px;
}
.token-box{
  display: none;
}
.input-token{
  margin-top: 20px;
}
.hidden{
  display: none;
}